In [1]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rc, rcParams
import warnings

warnings.filterwarnings(action='ignore')
rc('font',family='AppleGothic')
rcParams['axes.unicode_minus'] = False

In [3]:
path = '../data/'

train = pd.read_csv(path+"train_preprocessed.csv")
train_errx = pd.read_csv(path+"train_errx_preprocessed.csv")
test = pd.read_csv(path+"test_preprocessed.csv")
sub = pd.read_csv(path + 'sample_submission.csv')

train.shape, train_errx.shape, test.shape

((2952, 62), (2896, 62), (1008, 61))

## 같은 단지코드 내 전용면적이 같음에도 다른 행으로 되어있는 데이터 병합하기.

In [70]:
columns = list(train.columns)
columns.remove('전용면적별세대수')
new = train.groupby(columns, as_index=False).agg({'전용면적별세대수': sum})
new['세대수비례등록차량수'] = new.apply(lambda row: row['전용면적별세대수'] / row['총세대수'] * row['등록차량수'], axis=1)
new

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,공가수,자격유형,임대보증금,임대료,...,H,I,J,K,L,M,N,O,등록차량수,전용면적별세대수
0,C1000,566,아파트,충청북도,국민임대,39.57,10.0,A,10803000.0,96030.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,481.0,344
1,C1000,566,아파트,충청북도,국민임대,39.93,10.0,A,10803000.0,96030.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,481.0,75
2,C1000,566,아파트,충청북도,국민임대,46.70,10.0,A,14404000.0,129640.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,481.0,36
3,C1000,566,아파트,충청북도,국민임대,46.90,10.0,A,14404000.0,129640.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,481.0,36
4,C1000,566,아파트,충청북도,국민임대,51.93,10.0,A,15604000.0,150040.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,481.0,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1554,N2085,1339,아파트,서울특별시,공공임대(분납),84.05,0.0,A,135531000.0,329790.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1595.0,4
1555,N2085,1339,아파트,서울특별시,공공임대(분납),84.39,0.0,A,136628000.0,332460.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1595.0,4
1556,N2085,1339,아파트,서울특별시,공공임대(분납),84.39,0.0,A,136646000.0,332510.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1595.0,314
1557,N2431,1047,아파트,경상남도,국민임대,36.77,16.0,A,11217000.0,233330.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1214.0,272
1558,N2431,1047,아파트,경상남도,국민임대,46.78,16.0,A,24389000.0,303220.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1214.0,200