In [1]:
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rc, rcParams
import warnings

warnings.filterwarnings(action='ignore')
rc('font',family='AppleGothic')
rcParams['axes.unicode_minus'] = False

In [3]:
path = '../data/'

train = pd.read_csv(path+"train_preprocessed.csv")
train_errx = pd.read_csv(path+"train_errx_preprocessed.csv")
test = pd.read_csv(path+"test_preprocessed.csv")
sub = pd.read_csv(path + 'sample_submission.csv')

train.shape, train_errx.shape, test.shape

((2952, 62), (2896, 62), (1008, 61))

## 같은 단지코드 내 전용면적이 같음에도 다른 행으로 되어있는 데이터 병합하기.

In [76]:
columns = list(train.columns)
columns.remove('전용면적별세대수')
new = train.groupby(columns, as_index=False).agg({'전용면적별세대수': sum})
new['세대수비례등록차량수'] = new.apply(lambda row: row['전용면적별세대수'] / row['총세대수'] * row['등록차량수'], axis=1)
new[['단지코드', '전용면적', '등록차량수', '전용면적별세대수', '세대수비례등록차량수']].head(10)

    단지코드   전용면적   등록차량수  전용면적별세대수  세대수비례등록차량수
0  C1000  39.57   481.0       344  292.339223
1  C1000  39.93   481.0        75   63.736749
2  C1000  46.70   481.0        36   30.593640
3  C1000  46.90   481.0        36   30.593640
4  C1000  51.93   481.0        75   63.736749
5  C1013  39.65  1665.0       291  370.424312
6  C1013  46.22  1665.0       580  738.302752
7  C1013  46.76  1665.0       177  225.309633
8  C1013  51.86  1665.0       260  330.963303
9  C1014  33.35   708.0       516  366.795181